body{background: rgba(156, 185, 66, 0.44);}
p {background: #ccc8c8; color: #2a2629; }
.target{background: #339991;color: #54414f;}
.liii {font-size: 30px;}
h1{ text-align: center;}
img{border: 5px solid chocolate}


