body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.a{ background: aqua;
    height:100px;
    width:500px;
    display: flex;
    flex-direction: column;
       }

.d{ background: firebrick;
    height: 100px;
    width: 500px;
    border: #ffffff solid 2px;
    }
.c{ background: #67910f;
    height: 100px;
    width:500px;
    border: #ffffff solid 2px;
   }
.e{background: aqua;
    height:250px;
    width:504px;
    display: flex;

}
.m{background: #67910f;
    height: 250px;
    width:150px;
    border: #ffffff solid 2px; }
.k{background: #67910f;
    height: 250px;
    width:350px;
    border: #ffffff solid 2px;}